.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
justify-content: space-around;

box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;}

ul{
    display: flex;
    gap: 40px;
    li{
                list-style: none;

    }
    #link{
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        color: black;
    }
}

.navbar__left{
    width: 100px;
    position: relative;
    left: 210px;
    height: 30px;
    cursor: pointer;
    border: 1px solid;
border-radius: 10px;
}
button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    background-color: transparent;
}